body {
    background: #f2f6f8;
    background: -moz-linear-gradient(45deg,  #f2f6f8 0%, #d8e1e7 37%, #b5c6d0 55%, #e0eff9 100%);
    background: -webkit-linear-gradient(45deg,  #f2f6f8 0%,#d8e1e7 37%,#b5c6d0 55%,#e0eff9 100%);
    background: linear-gradient(45deg,  #f2f6f8 0%,#d8e1e7 37%,#b5c6d0 55%,#e0eff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 );
}

.refreshFeed {
    margin: 0 auto;
    font-size: 40px;
    color: rgb(235, 235, 235);
    background-color: rgb(206, 81, 59);
    border: none;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    outline: none;
}

.refreshFeed:hover {
    transition: all 0.5s;
    box-shadow: 0 5px 11px 2px rgba(0, 0, 0, 0.2);
    color: black;
}

