nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(114, 114, 114);
    font-weight: bold;
}

nav li.active {
    color: black;
}

nav li:hover {
    color: black;
}

.navBrand {
    cursor: pointer;
    font-weight: bold;
}

.navWrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.acDropdown {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(177, 177, 177);
    border-top: none;
    border-radius: 3px;
    padding: 0;
}